body{background-color: #343e42;}
span{text-decoration: underline;}
.member-description{color: rgb(35, 30, 39);}
.member-card{margin: auto;
    width: 60%;
    border: 8px solid #33314d;
    padding: 10px; }

img{display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;border: 5px solid gray;}