body{background-color: #D7D7D7;font-family: 'DM Serif Display', serif;}
#cards{display: inline;margin: 1rem;}

/* LEFT */
.left{width: 324px;height: 572px;border-radius: 16px;background-color: #FFFFFF;box-sizing: border-box;
padding: 3px;float: left; margin: 30px;}

h1{font-family: 'DM Serif Display', serif;font-size: 40px;margin-left: 20px;}

span{font-family: 'Open Sans', sans-serif;font-size: 16px;color: #A5ADBB;}

.foto{width: 80px;height: 80px;margin-left: 20px;}

.heading1{font-family:'DM Serif Display', serif ;font-size: 28px;color: #F3B10E;text-align: center;font-weight: 400;}

p{font-family:'Open Sans', sans-serif ; font-size: 16px;font-weight: 200;line-height: 25px;}

.line{border-bottom: 1px solid #adadad;margin-top: 5px;margin-bottom: 5px;}

li{list-style: none;font-family:'Open Sans', sans-serif ;font-size: 16px;font-weight: 200;
    margin-bottom: 10px;line-height: 25px;}

button{height: 48px; width: 264px; left: 40px; top: 584px;  border-radius: 8px;
 background-color: #EBECED; 
 font-family: 'Open Sans';font-size: 16px;font-weight: 400;line-height: 25px;text-align: center;
 color: #798289; border: 1px solid #EBECED;margin-left: 25px;}

 /* RIGHT */

.right{width: 324px;height: 572px;border-radius: 16px;background-color: #FFFFFF;box-sizing: border-box;
    padding: 3px;float: right; margin: 30px;}

    .foto3{width: 50px;height: 50px;}

    .heading3{font-family:'DM Serif Display', serif ;font-size: 28px;color: #46D68C;text-align: center;font-weight: 400;}

    .button3{background-color: #46D68C;color: #ffffff;}

/* MIDDLE  */

 .middle{width: 324px;height: 572px;border-radius: 16px;background-color: #FFFFFF;box-sizing: border-box;
    padding: 3px;margin-left: 100px;float: left;margin:0 auto; margin: 30px;}

.paragraf{font-size: 15px;}

.foto2{width: 60px;height: 60px;margin-left: 10px;}

.heading2{font-family:'DM Serif Display', serif ;font-size: 28px;color: #1DABF2;text-align: center;font-weight: 400;margin-top: 8px;}

.button2{background-color: #ffffff;border: 1px solid rgb(178, 176, 176);}
